/* *****VIDEO****** */
.video__iframes {
  margin: 50px auto 0;
  max-height: 256px;
  display: flex;
  justify-content: center;
}

.video__iframe {
  width: 515px;
  height: 316px;
}

.video__iframe:first-child {
  margin-right: 20px;
}


