.kaufman__triangle {
  width: 995px;
  height: 1006px;

  position: absolute;
  top: 0;
  right: -210px;

  background-image: url(../__triangle/kaufman__triangle.svg);
  background-repeat: no-repeat;


  z-index: 0;
  ;






}
