.footer__column-heading {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;

  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;

  color: white;
}
