.header__title {
  margin: 0;
  padding: 0;
  margin-left: 64px;

  width: 730px;

  font-size: 102px;
  font-style: normal;
  font-weight: 700;
  line-height: 96px;
  letter-spacing: 0em;
  text-align: left;

  z-index: 2;
}
